<h1>Edita tu Proyecto</h1>
{{#each project}}

<div class="box">
  <ul>
    <h2>{{name}}</h2>
    <li><strong>Tipo de Colaboración</strong></li>
    <li>{{colaborationType}}</li>
    <li><strong>Descripcion del proyecto</strong></li>
    <li>{{projectDescription}}</li>
    <li><strong>Total Necesario</strong></li>
    <li>{{totalRaised}} €</li>
    <li><strong>Total Recaudado</strong></li>
    <li>{{totalRequired}} €</li>
    <li><button class="button-projects"><a href="/auths/private-Admin">Menu Principal de Usuario</a></button></li>
  </ul>
  {{/each}}

</div>