<h1>Todos los proyectos</h1>
<ul>
  <h2>{{name}}</h2>
  <li>{{location}}</li>
  <li>{{colaborationType}}</li>
  <li>{{projectDescription}}</li>
  <li>Total Necesario: {{totalRaised}} €</li>
  <li>Total recaudado: {{totalRequired}} €</li>
</ul>
<a href="/auths/private-Colaborator">Menu Principal de Usuario</a>
