<h1>Todos los proyectos</h1>
<div class="box-dios">
  {{#each projects}}
  <div class="box-projects box">
    <div>
      <img src={{imagen}} alt="fgodofdkof">
    </div>
    <ul>
      <h2 class="h-allprojects">{{name}}</h2>
      {{!-- <li>{{location}}</li> --}}
      <li><strong>Tipo de colaboración</strong></li>
      <li>{{colaborationType}}</li>
      <li><strong>Total Recaudado:</strong></li>
      <li>{{totalRaised}} €</li>
      <li><strong>Total Necesario:</strong>
      <li>{{totalRequired}} €</li>
      <li><button class="button-allprojects"><a href="/projects/{{_id}}">Vete al proyecto
            individual</a></button></li>
    </ul>
    
  </div>


  {{/each}}
</div>

<div id="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzR-IqTBa-42-yPOEhpmMoy1zGofyObRs&callback=initMap"></script>