<h1>Todos los proyectos</h1>
{{#each projects}}
<ul>
  <h2>{{name}}</h2>
  <li>{{location}}</li>
  <li>{{colaborationType}}</li>
  <li>{{projectDescription}}</li>
  <li>Total Necesario: {{totalRaised}} €</li>
  <li>Total recaudado: {{totalRequired}} €</li>
</ul>
<a href="/projects/{{_id}}">Vete al proyecto individual</a>
{{/each}}

