<h1>Todos los proyectos</h1>
<p><{{name}}/p>
<p><{{location}}/p>
<p>{{date}}</p>
<p>{{colaborationType}}</p>
<p>{{projectDescription}}</p>
<p><{{projectTracking}}/p>
<p></p>
<p></p>

{{!-- name: {type: String, required: true},
        location: {
          lat: {type: Number},
          lon: {type: Number}
      },
        date: {type: String},
        colaborationType: {type: String, enum:["Economic Maecenas", "Technical Maecenas", "Tourist Maecenas"], required: true},
        projectDescription: {type: String, required: true},
        projectTracking: {type: String, timestamps: true }, 
        totalRaised: {type: Number},
        totalRequired: {type: Number},
        adminId:{type: String} --}}
