<h1>Descripción del proyecto</h1>
<h2 class="project-description">{{name}}</h2>
<div>
  <ul class="box">
    <li class="location">Localizacion: {{location}}</li>
    <li><strong>Fecha:</strong> {{date}}</li>
    <li><strong>Descripcion del proyecto:</strong> {{projectDescription}}.</li>
    <li><strong>Estado del proyecto:</strong> {{proyectTracking}}</li>
    <li><strong>Total Recaudado: </strong>{{totalRaised}} €.</li>
    <li><strong>Total Necesario:</strong>{{totalRequired}} €.</li>
  </ul>
  <button class="button-description"><a  href="/auths/signup/{{_id}}">Colabora con nosotros</a></button>
</div>