<h1>{{name}}l</h1>
<div>
  <ul>
    <li>Localizacion: {{location}}</li>
    <li>Fecha: {{date}}</li>
    <li>Descripcion del proyecto: {{projectDescription}}</li>
    <li>Estado del proyecto: {{proyectTracking}}</li>
    <li>Total Recaudado: {{totalRaised}}</li>
    <li>Total Necesario{{totalRequired}}</li>
  </ul>
  <a href="/auths/signup/{{_id}}">Colabora con nosotros</a>
</div>